/* HEADER STYLES - HEADER.SCSS */

header {
  @include flex(row, center, center);

  margin-bottom: 1.25em;
  width: 100%;

  @media all and (max-width: $first-break) {
    background-color: $white;
    position: fixed;
    z-index: 5;
  }
}

#header-wrapper {
  @include flex(column, center, center);

  .heading, .subheading {
    text-align: center;
  }

  .heading {
    font-size: 2.5em;
    margin: .5em 0 0.375em;

    @media all and (max-width: $first-break) {
      font-size: 2em;
    }
  }

  .subheading {
    font-size: 1.25em;
    margin: 0.375em 0 0;
  }
}
