/* LANDMARK COMPONENT STYLES
 * COMPONENTS/LANDMARK.JSX
 * COMPONENTS/LANDMARK.SASS

.landmark-container
  height: 322.5px

  @media all and (max-width: breakpoint(acs-small))
    +flex(row-reverse, center, space-between)

    flex-direction: row-reverse !important
    height: auto
    margin-bottom: 4em !important
    width: 100%

    &.single
      margin-bottom: 4em

    &:not(.single)
      padding: 0

  @media all and (max-width: breakpoint(x-small))
    +flex(column-reverse, center, center)

    flex-direction: column-reverse !important
    border-bottom: 2.5px solid rgba($gold, 0.375)
    margin: 0 0 2em 0 !important
    width: 100%

  h1,
  p
    margin: 0

/* special landmark-container classes

.landmark-container-top,
.landmark-container-bttm
  .landmark-line
    height: 50px

  &:not(.single)
    .landmark-heading
      padding-left: 0.125em
      width: 125%

      @media all and (max-width: breakpoint(acs-small))
        padding-left: 0
        width: 100%

.landmark-container-top
  +flex(column, center, center)

  &.single
    margin-bottom: 132.5px

    .landmark-line
      margin-top: 12.5px

  &:not(.single)
    padding-bottom: 3.5px

  .landmark-year
    margin-top: 0.125em

  .landmark-heading
    margin-bottom: 0.5em

.landmark-container-bttm
  +flex(column-reverse, center, center)

  .info
    order: -1

  .landmark-line
    margin-bottom: 5px

  &.single
    margin-top: 132.5px

    .landmark-line
      margin-bottom: 12.5px

    @media all and (max-width: breakpoint(acs-small))
      margin-top: 0

  &:not(.single)
    padding-top: 3.5px

  .landmark-year
    margin-bottom: 0.125em

/* #landmark-0 container
.landmark-container-bttm.special
  margin-bottom: 52.5px

.years
  +flex(column, center, center)

  height: 37.5px

  @media all and (max-width: breakpoint(acs-small))
    order: 1
    margin: 0 0.375em 0 0

  @media all and (max-width: breakpoint(x-small))
    flex-direction: row
    justify-content: space-between
    margin: 0
    width: 100%

  .century,
  .landmark-year
    text-align: center

  .century
    color: rgba($black, 0.375)
    display: none
    margin: 0 0 0.75em 0

    @media all and (max-width: breakpoint(acs-small))
      display: block

    @media all and (max-width: breakpoint(x-small))
      margin: 0

  .landmark-year
    @media all and (max-width: breakpoint(x-small))
      margin: 0

.info
  +flex(column, center, flex-start)

  height: 37.5px

  @media all and (max-width: breakpoint(acs-small))
    margin-left: 55px
    width: 70%

  @media all and (max-width: breakpoint(x-small))
    height: auto
    margin: 0 0 1.5em 0
    width: 100%

.landmark-heading
  color: $blue
  font-size: 0.875em
  text-align: center
  width: 100%

  +hocus
    cursor: pointer


  @media all and (max-width: breakpoint(acs-small))
    color: $blue
    font-size: 1.375em
    text-align: left

  @media all and (max-width: breakpoint(x-small))
    text-align: center
    width: 100%

.landmark-description,
.landmark-link
  display: none
  text-align: left

  @media all and (max-width: breakpoint(acs-small))
    display: block

  @media all and (max-width: breakpoint(x-small))
    text-align: center
    width: 100%

.landmark-description
  font-size: 1em
  line-height: 1.5em
  margin: 0.25em 0

  @media all and (max-width: breakpoint(x-small))
    margin: 0

.landmark-link
  align-self: flex-start
  color: $black
  font:
    size: 1.05em
    weight: 600
  margin: 0.25em 0 0 0

  @media all and (max-width: breakpoint(x-small))
    margin-top: 0.625em
    text-align: center

  svg
    @media all and (max-width: breakpoint(x-small))
      display: none

.landmark-line
  border-left: 3px solid rgba($black, 0.25)
  height: 75px

  @media all and (max-width: breakpoint(acs-small))
    margin: 0 !important
    transform: rotate(90deg)

  @media all and (max-width: breakpoint(x-small))
    display: none

.landmark
  +hocus
    cursor: pointer


  height: 200px
  width: 225px

  @media all and (max-width: breakpoint(acs-small))
    height: 150px
    width: 200px

  @media all and (max-width: breakpoint(x-small))
    height: 200px
    margin: 1em 0 1.5em
    width: 225px
