/* LANDMARK STYLES - COMPONENTS/LANDMARK.SCSS */

// general styles
.landmark-container {
  .landmark-text {
    height: 75px;

    h1,
    p {
      margin: 0;
      text-align: center;
    }

    p {
      @include hocus {
        cursor: pointer;
        color: $blue;
      }
    }
  }

  .landmark-line {
    border-left: 3px solid rgba($black, 0.25);
    height: 100px;
  }

  .landmark {
    @include hocus {
      cursor: pointer;
    }


    height: 200px;
    width: 235px;
  }
}

// special landmark-container classes
.landmark-container-top {
  @include flex(column, center, center);

  height: 50%;

  &:not(.single) {
    padding-bottom: 4px;
  }

  &.single {
    margin-bottom: 175px;
  }
}

.landmark-container-bttm {
  @include flex(column-reverse, center, center);

  height: 50%;

  &:not(.single) {
    padding-top: 2.5px;
  }

  &.single {
    margin-top: 175px;
  }
}

// landmark-0 container
.landmark-container-bttm.special {
  margin-bottom: 32.5px;
}
