/* NAVIGATION STYLES - COMPONENTS/NAVIGATION.SCSS */

#navigation {
  margin: 1em 0;

  .nav-link {
    @include hocus {
      @extend %active-link;
    }


    color: rgba($black, 0.375);
    font: {
      size: 2em;
      weight: 300;
    };
    margin: 0 1em;
    text-align: center;

    @media all and (max-width: $first-break) {
      font-size: 1.75em;
      margin: 0 .5em;
    }
  }

  &.active {
    @extend %active-link;
  }
}

%active-link {
  border-bottom: 4px solid $gold;
  color: $black;
  font-weight: 700;
}
