/* ROOT CONTAINER STYLES - VIEWS/ROOT.SCSS */

#app-root {
  @include flex(column, center, space-between);

  width: 100vw;

  #root-wrapper {
    @include flex(column, center, center);
  }
}

#modal-root {
  display: none;
  align-items: center;
  background-color: rgba($black, 0.5);
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }
}
