/* TIMELINE STYLES - VIEWS/TIMELINE.SCSS */

#timeline {
  @include flex(row, center, center);

  width: 100vw;

  @media all and (max-width: $first-break) {
    margin-top: 200px;
    overflow: hidden;
    position: relative;
  }

  #timeline-prev, #timeline-next {
    font-size: 1.5em;
    margin: 0 .5em;
    position: absolute;
    top: 50%;
    z-index: 2;

    @media all and (max-width: $first-break) {
      display: none;
    }
  }

  #timeline-prev {
    left: 1%;
  }

  #timeline-next {
    right: 1%;
  }

  #timeline-wrapper {
    @include flex(row, center, flex-start);

    overflow: {
      x: scroll;
      y: hidden;
    };

    @media all and (max-width: $first-break) {
      flex-direction: column;
    }

    // general column styles
    .timeline-col {
      @include flex(column, center, center);

      height: 750px;
      width: 275px;

      @media all and (max-width: $first-break) {
        height: auto;
        width: 100%;
      }
    }

    .timeline-col:nth-of-type(even) {
      margin: 0 -52.5px 0;

      @media all and (max-width: $first-break) {
        margin: 0;
      }
    }

    // special column styles
    #col-2 {
      @include flex(column-reverse, center, center);
    }
  }
}
