/* TIMELINE STYLES
 * VIEWS/TIMELINE.JSX
 * VIEWS/TIMELINE.SASS

#timeline
  +flex(row, center, flex-start)

  overflow:
    x: scroll
    y: hidden
  position: relative
  width: 100%

  @media all and (max-width: breakpoint(acs-small))
    flex-direction: column
    margin-top: 200px
    overflow: hidden
    padding: 1em 1.75em 0

// general column styles
.timeline-col
  +flex(column, center, center)

  width: 275px

  @media all and (max-width: breakpoint(acs-small))
    height: auto
    width: 100%

.timeline-col:nth-of-type(even)
  margin: 0 -50px 0

  @media all and (max-width: breakpoint(acs-small))
    margin: 0

// special column style
#col-2
  +flex(column-reverse, center, center)
