/* TIMELINE STYLES
 * VIEWS/TIMELINE.JSX
 * VIEWS/TIMELINE.SASS

#timeline
  +flex(row, center, flex-start)

  overflow:
    x: scroll
    y: hidden
  position: relative
  width: 100%

  @media all and (max-width: breakpoint(acs-small))
    flex-direction: column
    margin-top: 125px

    // overflow: hidden
    padding: 0 1.75em

// general column styles
.timeline-col
  +flex(column, center, center)

  height: 645px

  @media all and (max-width: breakpoint(acs-small))
    flex-direction: column-reverse
    height: auto
    width: 100%

  &:nth-of-type(even)
    margin: 0 -50px 0

    @media all and (max-width: breakpoint(acs-small))
      margin: 0

// special column style
#col-2
  +flex(column-reverse, center, center)
