/* TIMELINE STYLES - VIEWS/TIMELINE.SCSS */

#timeline {
  @include flex(row, center, center);

  width: 100vw;

  #timeline-wrapper {
    @include flex(row, center, flex-start);

    @media all and (max-width: 650px) {
      flex-direction: column;
    }

    // general column styles
    .timeline-col {
      @include flex(column, center, center);

      height: 750px;
      width: 275px;

      @media all and (max-width: 650px) {
        height: auto;
        width: 100%;
      }
    }

    .timeline-col:nth-of-type(even) {
      margin: 0 -52.5px 0;

      @media all and (max-width: 650px) {
        margin: 0;
      }
    }

    // special column styles
    #col-2 {
      @include flex(column-reverse, center, center);
    }
  }
}
