/* TIMELINE STYLES - VIEWS/TIMELINE.SCSS */

#timeline {
  @include flex(row, center, flex-start);

  padding: 0 1em;
  overflow: {
    x: scroll;
    y: hidden;
  };
  width: 100vw;

  @media all and (max-width: $first-break) {
    flex-direction: column;
    margin-top: 200px;
    overflow: hidden;
    position: relative;
  }
}

// general column styles
.timeline-col {
  @include flex(column, center, center);

  height: 750px;
  width: 275px;

  @media all and (max-width: $first-break) {
    height: auto;
    width: 100%;
  }
}

.timeline-col:nth-of-type(even) {
  margin: 0 -52.5px 0;

  @media all and (max-width: $first-break) {
    margin: 0;
  }
}

// special column style
#col-2 {
  @include flex(column-reverse, center, center);
}

// buttons
#timeline-prev, #timeline-next {
  @extend %button;

  background-color: $blue;
  color: $white;
  position: absolute;
  top: 50%;
  z-index: 2;

  @media all and (max-width: $first-break) {
    display: none;
  }
}

#timeline-prev {
  box-shadow: -2.5px 2.5px 5px 2.5px rgba($black, 0.25);
  left: 1.25%;
}

#timeline-next {
  box-shadow: 2.5px 2.5px 5px 2.5px rgba($black, 0.25);
  right: 1.25%;
}
