/**
 * Display flex mixin where flex-wrap defaults to wrap.
 * @parameter {string} $flexDirection - flex-direction
 * @param {string} $alignItems - align-items
 * @param {string} $justifyContent - justify-content
*/
/**
 * Background image mixin
 * @param {string} $url - image url
 * @param {string} $pos - background-position
 * @param {string} $size - background-size
*/
/**
 * Mixin that bundles &:hover, &:active, and &:focus
 */
/**
 * Mixin that sets the initial background color of an element,
 * and the element's background color when it is hovered over.
 * The hover color defaults to a shade 5% darker than the argument color.
 * Uses the hocus mixin to set the hover color
 * @param {string} $color - color to set
*/
/**
 * Mixin for transitions.
 * @param {string} $prop - transition-propery
 * @param {string} $duration - transition-duration
 * @param {string} $timing - transition-timing-function
 * @param {string} $delay - transition-delay
*/
/* HELPER CLASSES -- HELPERS.SASS */
.hexagon {
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 90%; }

.hexagon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hexagon:hover img, .hexagon:active img, .hexagon:focus img {
    width: 175%; }
  .hexagon img {
    width: 150%; }

/* BEGIN BASE STYLES -- BASE-DIR.SASS */
/* COMMON STYLES -- COMMON.SASS */
* {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  font-family: "TheSansACS";
  font-weight: 400; }

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html,
body {
  color: #000;
  margin: 0; }

a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  cursor: pointer; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  border: none;
  outline: none; }

/* FONTS - FONTS.SASS */
@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W7Bld.otf);
  font-weight: 700; }

@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W5Pla.otf);
  font-weight: 400; }

@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W3Lig.otf);
  font-weight: 300; }

/* BEGIN COMPONENT STYLES -- COMPONENTS-DIR.SCSS */
/* HEADER STYLES - HEADER.SCSS */
header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw; }
  header #header-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header #header-wrapper .heading, header #header-wrapper .subheading {
      text-align: center; }
    header #header-wrapper .heading {
      font-size: 2.5em;
      margin: .5em 0 0.375em; }
      @media all and (max-width: 650px) {
        header #header-wrapper .heading {
          font-size: 2em; } }
    header #header-wrapper .subheading {
      font-size: 1.25em;
      margin: 0.375em 0 0; }

/* NAVIGATION STYLES - COMPONENTS/NAVIGATION.SCSS */
#navigation {
  margin: 1em 0 3em; }
  #navigation .nav-link {
    color: rgba(0, 0, 0, 0.375);
    font-size: 2em;
    font-weight: 300;
    margin: 0 1em;
    text-align: center; }
    @media all and (max-width: 650px) {
      #navigation .nav-link {
        font-size: 1.75em;
        margin: 0 .5em; } }

#navigation .nav-link:hover, #navigation .nav-link:active, #navigation .nav-link:focus, #navigation.active {
  border-bottom: 4px solid #ffc72c;
  color: #000;
  font-weight: 700; }

/* LANDMARK STYLES - COMPONENTS/LANDMARK.SCSS */
.landmark-container {
  height: 50%; }
  @media all and (max-width: 650px) {
    .landmark-container {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .landmark-container h1,
  .landmark-container p {
    margin: 0;
    text-align: center; }
  .landmark-container .info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 37.5px; }
    .landmark-container .info .landmark-heading:hover, .landmark-container .info .landmark-heading:active, .landmark-container .info .landmark-heading:focus {
      cursor: pointer;
      color: #004fa7; }
    .landmark-container .info .landmark-description, .landmark-container .info .landmark-link {
      display: none; }
  .landmark-container .landmark-line {
    border-left: 3px solid rgba(0, 0, 0, 0.25);
    height: 100px; }
  .landmark-container .landmark {
    height: 200px;
    width: 235px; }
    .landmark-container .landmark:hover, .landmark-container .landmark:active, .landmark-container .landmark:focus {
      cursor: pointer; }

.landmark-container-top {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .landmark-container-top.single {
    margin-bottom: 175px; }
  .landmark-container-top:not(.single) {
    padding-bottom: 4px; }

.landmark-container-bttm {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .landmark-container-bttm .info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .landmark-container-bttm .landmark-line {
    margin-bottom: 5px; }
  .landmark-container-bttm.single {
    margin-top: 175px; }
  .landmark-container-bttm:not(.single) {
    padding-top: 2.5px; }

.landmark-container-bttm.special {
  margin-bottom: 32.5px; }

@media all and (max-width: 650px) {
  .landmark-container-top, .landmark-container-bttm, .landmark-container-bttm.special {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    margin: 0;
    width: 100%; }
    .landmark-container-top .landmark-year, .landmark-container-bttm .landmark-year {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .landmark-container-top .info, .landmark-container-bttm .info {
      width: 70%; }
      .landmark-container-top .info .landmark-description, .landmark-container-bttm .info .landmark-description, .landmark-container-top .info .landmark-link, .landmark-container-bttm .info .landmark-link {
        display: block;
        text-align: left; }
    .landmark-container-top .landmark-line, .landmark-container-bttm .landmark-line {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .single.landmark-container-top, .single.landmark-container-bttm {
      margin: 0; }
    .landmark-container-top:not(.single), .landmark-container-bttm:not(.single) {
      padding: 0; } }

/* MODAL STYLES - COMPONENTS/MODAL.SCSS */
.modal {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 45%;
  padding: 0 2.5em;
  max-width: 55%; }
  .modal #close {
    -ms-flex-item-align: end;
        align-self: flex-end; }
    .modal #close svg {
      color: rgba(0, 0, 0, 0.375);
      font-size: 2em; }
  .modal .modal-body {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .modal .modal-body #prev, .modal .modal-body #next {
      font-size: 3em; }
    .modal .modal-body .modal-img-container {
      height: 200px;
      margin-left: 1em;
      width: 245px; }
    .modal .modal-body .modal-body-text {
      height: 100%;
      margin: 0 1em;
      width: 75%; }
      .modal .modal-body .modal-body-text .modal-landmark-year {
        font-size: 2em;
        margin: 0 0 .25em; }
      .modal .modal-body .modal-body-text .modal-landmark-heading {
        color: #004fa7;
        font-size: 2.25em;
        font-weight: 700;
        margin: 0; }
      .modal .modal-body .modal-body-text .modal-landmark-descrip {
        font-size: 1.375em;
        font-weight: 300;
        margin: .5em 0; }
      .modal .modal-body .modal-body-text .modal-landmark-link {
        color: #000;
        font-size: 1.25em;
        font-weight: 300;
        margin-top: 5em; }

/* BEGIN VIEW SPECIFIC STYLES -- VIEWS-DIR.SCSS */
/* ROOT CONTAINER STYLES - VIEWS/ROOT.SCSS */
#app-root {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #app-root #root-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

#modal-root {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999; }
  #modal-root.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #modal-root.hide {
    display: none; }

/* TIMELINE STYLES - VIEWS/TIMELINE.SCSS */
#timeline {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw; }
  #timeline #timeline-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media all and (max-width: 650px) {
      #timeline #timeline-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #timeline #timeline-wrapper .timeline-col {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 750px;
      width: 275px; }
      @media all and (max-width: 650px) {
        #timeline #timeline-wrapper .timeline-col {
          height: auto;
          width: 100%; } }
    #timeline #timeline-wrapper .timeline-col:nth-of-type(even) {
      margin: 0 -52.5px 0; }
      @media all and (max-width: 650px) {
        #timeline #timeline-wrapper .timeline-col:nth-of-type(even) {
          margin: 0; } }
    #timeline #timeline-wrapper #col-2 {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
