/* HELPER CLASSES -- HELPERS.SASS */

// abstract
%hexagon {
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

// regular classes
.wrapper {
  height: 100%;
  width: 100%;
  max-width: $max-width;
}

.hexagon {
  @extend %hexagon;

  @include flex(row, center, center);

  @include hocus {
    img {
      width: 175%;
    }
  }


  // may need to fix this
  img {
    width: 150%;
  }
}

.century {
  color: rgba($black, 0.25);
  display: none;

  @media all and (max-width: 650px) {
    display: block;
  }
}
