/* HELPER CLASSES -- HELPERS.SASS */

// regular classes

.wrapper {
  height: 100%;
  width: 100%;
  max-width: $max-width;
}

// abstract classes

%hexagon {
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
