// VARIABLES

//colors
$black: #000
$white: #fff

$gold: #ffc72c
$blue: #004fa7

//fonts
$font: "Open Sans", sans-serif

//misc
$max-width: 90%

// breakpoints
$break-xlarge: px-to-em(1440px)
$break-acs-large: px-to-em(1200px)
$break-acs-med: px-to-em(992px)
$break-med: px-to-em(980px)
$break-acs-small: px-to-em(768px)
$break-xsmall: px-to-em(650px)

$breakpoints: ("x-large": $break-xlarge, "acs-large": $break-acs-large, "acs-med": $break-acs-med, "med": $break-med, "acs-small": $break-acs-small, "x-small": $break-xsmall)
