/* COMMON STYLES -- COMMON.SASS */

* {
  @include transition(all, 0.25s, ease-in-out, 0s);

  // font: {
  //   family: $font;
  //   weight: 400;
  // };
}

*,
html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  color: $black;
  margin: 0;
}

a,
button {
  @include hocus {
    cursor: pointer;
  }
}

a {
  @include hocus {
    text-decoration: none !important;
  }


  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
