/* FONTS - FONTS.SASS */

@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W7Bld.otf);
  font-weight: 700;
}

@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W5Pla.otf);
  font-weight: 400;
}

@font-face {
  font-family: TheSansACS;
  src: url(../../assets/fonts/TheSansACS-W3Lig.otf);
  font-weight: 300;
}
